{% load static %}
<header>
        <div class="header-container">

            <div class="left-nav">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'images/logo.pdf' %}" alt="">
                    </a>
                </div>
                <nav>
                    <ul>
                        <li>Menu</li>
                        <li>Rewards</li>
                    </ul>
                </nav>
            </div>

            <div class="right-nav">
                <div class="sign-in">
                    Sign in
                </div>
                <div class="join-now">
                    Join now
                </div>
            </div>
        </div>
    </header>
<hr>